:root {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
}

nav {
  flex: 0 1 400px;
}
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.first-create-link {
  margin-block-start: 2rem;
}
